.sponsor-title-child {
  position: absolute;
  top: 66px;
  left: 0;
  max-height: 100%;
  width: 180px;
  object-fit: cover;
}
.sponsor5 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 4px;
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 700;
  font-family: inherit;
}
.line-icon,
.sponsor-title {
  position: absolute;
  width: 180px;
}
.sponsor-title {
  top: 188px;
  left: 630px;
  height: 66px;
  font-size: var(--heading-size);
  font-family: var(--heading);
}
.line-icon {
  top: 53px;
  left: 549px;
  height: 2px;
  object-fit: cover;
}
.about5 {
  position: absolute;
  top: 15px;
  left: 748px;
  cursor: pointer;
}
.donate4,
.sponsor6 {
  position: absolute;
  top: 15px;
  left: 1052px;
}
.sponsor6 {
  left: 878px;
  cursor: pointer;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-springgreen-100);
  box-sizing: border-box;
  width: 238px;
  height: 57px;
}
.global-wellness-watch4 {
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: var(--body);
  display: inline-block;
  width: 222px;
  height: 26px;
}
.rectangle-3default-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-green);
}
.nav-bar5,
.rectangle-3default2 {
  position: absolute;
  top: 46px;
  left: 883px;
  width: 69px;
  height: 3px;
}
.nav-bar5 {
  top: 0;
  left: 0;
  width: 1121px;
  height: 57px;
}
.home5,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 7px;
}
.rectangle-icon {
  height: 5.7%;
  width: 100%;
  top: 94.42%;
  right: 0;
  bottom: -0.12%;
  left: 0;
  border-radius: var(--br-6xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-container {
  position: absolute;
  top: 15px;
  left: 598px;
  width: 69px;
  height: 86px;
  cursor: pointer;
}
.rectangle-3default-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-green);
  display: none;
}
.nav-bar4,
.rectangle-3default3 {
  position: absolute;
  top: 49px;
  left: 598px;
  width: 69px;
  height: 3px;
}
.nav-bar4 {
  top: 51px;
  left: 160px;
  width: 1121px;
  height: 101px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 335px;
}
.home-about-sponsor-container2 {
  position: absolute;
  top: 66px;
  left: 456px;
}
.email-phone-report-container2,
.globalwellnesswatch2 {
  position: absolute;
  top: 66px;
  left: 648px;
}
.globalwellnesswatch2 {
  left: 856px;
}
.contact2,
.global-wellness-watch5,
.pages2,
.socials2 {
  position: absolute;
  letter-spacing: -0.03em;
  font-family: var(--heading);
  color: var(--color-mediumseagreen);
  text-align: center;
}
.global-wellness-watch5 {
  margin: 0;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  font-weight: 700;
}
.contact2,
.pages2,
.socials2 {
  top: 7px;
  left: 456px;
  font-size: var(--font-size-xl);
}
.contact2,
.socials2 {
  left: 648px;
}
.socials2 {
  left: 856px;
}
.instagram-icon2 {
  position: absolute;
  top: 106px;
  left: 910px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.tiktok-icon2 {
  left: 856px;
}
.facebook-icon2,
.tiktok-icon2,
.youtube-icon2 {
  position: absolute;
  top: 106px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.facebook-icon2 {
  left: 1019px;
  overflow: hidden;
}
.youtube-icon2 {
  left: 965px;
}
.empowering-awareness-inspirin-container2 {
  position: absolute;
  top: 66px;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 317px;
}
.footer,
.footer-text2 {
  position: absolute;
  top: 54px;
  left: 192px;
  width: 1056px;
  height: 227px;
}
.footer {
  top: 2454px;
  left: 0;
  width: 1440px;
  height: 335px;
  text-align: left;
  font-size: var(--body-size);
  color: var(--color-white);
  font-family: var(--body);
}
.donate-box-child,
.donate-box-inner,
.donate-box-item {
  position: absolute;
  left: 28px;
  border-radius: var(--br-5xs);
  width: 302px;
  height: 55px;
}
.donate-box-child {
  border: 0;
  outline: 0;
  background-color: var(--color-mediumseagreen);
  top: 29px;
}
.donate-box-inner,
.donate-box-item {
  top: 240px;
  background-color: var(--color-silver);
}
.donate-box-inner {
  top: 439px;
  background-color: var(--color-mediumseagreen);
}
.donate6,
.name {
  position: absolute;
  top: 455px;
  left: 143px;
  color: var(--color-white);
}
.name {
  top: 255px;
  left: 43px;
}
.donate-box-child1,
.donate-box-child2,
.donate-box-child3 {
  position: absolute;
  top: 97px;
  border-radius: var(--br-5xs);
  width: 143px;
  height: 55px;
}
.donate-box-child1 {
  left: 28px;
  background-color: var(--color-white);
  border: 4px solid var(--color-silver);
  box-sizing: border-box;
}
.donate-box-child2,
.donate-box-child3 {
  left: 187px;
  background-color: var(--color-mediumseagreen);
}
.donate-box-child3 {
  top: 29px;
  left: 178px;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-white);
  border: 4px solid var(--color-silver);
  box-sizing: border-box;
  width: 152px;
}
.b4,
.b5 {
  position: absolute;
  top: 113px;
  left: 87px;
}
.b5 {
  left: 244px;
  color: var(--color-white);
}
.donate-box-child4,
.donate-box-child5 {
  position: absolute;
  top: 168px;
  left: 28px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-silver);
  box-sizing: border-box;
  width: 143px;
  height: 55px;
}
.donate-box-child5 {
  left: 187px;
}
.b6,
.custom {
  position: absolute;
  top: 184px;
  left: 80px;
}
.custom {
  left: 220px;
}
.monthly,
.one-time {
  position: absolute;
  top: 45px;
  left: 218px;
}
.one-time {
  left: 54px;
  color: var(--color-white);
}
.donate-box-child6 {
  position: absolute;
  top: 308px;
  left: 28px;
  border-radius: 4px;
  background-color: var(--color-gainsboro-200);
  width: 16px;
  height: 16px;
}
.anonymous,
.disclaimer {
  position: absolute;
  top: 306px;
  left: 65px;
  font-size: 16px;
  font-family: var(--body);
  text-align: center;
}
.disclaimer {
  top: 367px;
  left: 14px;
  font-size: 12px;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 332px;
}
.donate-box {
  position: absolute;
  top: 424px;
  left: 893px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.43);
  width: 359px;
  height: 518px;
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.current-project,
.current-project-title {
  margin: 0;
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  font-family: inherit;
}
.current-project {
  top: 0;
  font-size: inherit;
  text-decoration: underline;
  font-weight: 400;
  color: var(--color-mediumseagreen);
}
.current-project-title {
  top: 45px;
  font-size: var(--heading-size);
  font-weight: 700;
}
.current-project-pic {
  position: absolute;
  top: 135px;
  left: 2px;
  border-radius: var(--br-base);
  width: 630px;
  height: 415px;
  object-fit: cover;
}
.your-donation-fuels {
  margin: 0;
}
.current-project-text-container {
  position: absolute;
  top: 714px;
  left: 6px;
  font-size: var(--body-size);
  font-family: var(--body);
  display: inline-block;
  width: 1061px;
  height: 276px;
}
.current-project-frame {
  position: absolute;
  top: 289px;
  left: 188px;
  width: 1067px;
  height: 990px;
  text-align: left;
  font-size: 36px;
  color: var(--color-black);
  font-family: var(--heading);
}
.money-raised-icon,
.total-money-icon {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 622px;
}
.money-raised-icon {
  width: 364px;
  object-fit: cover;
}
.raised {
  font-size: var(--font-size-5xl);
  color: var(--color-silver);
}
.donation-figures,
.donation-line {
  position: absolute;
  top: 19px;
  left: 454px;
}
.donation-line {
  top: 891px;
  left: 194px;
  width: 626px;
  height: 60px;
  font-size: var(--font-size-13xl);
}
.slice-div {
  position: relative;
  width: 1px;
  height: 1px;
}
.sponsor-inner {
  position: absolute;
  top: 2024px;
  left: 1036px;
  width: 4px;
  height: 4px;
  overflow: hidden;
}
.sponsor-child {
  position: absolute;
  top: 2024.2px;
  left: 1035.5px;
  width: 1.6px;
  height: 0.8px;
  object-fit: cover;
}
.reason-3-child {
  position: absolute;
  top: 57px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 345px;
  height: 185px;
}
.site-icon {
  position: absolute;
  top: 0;
  left: 116px;
  width: 114px;
  height: 114px;
  object-fit: cover;
}
.can-help-us {
  position: absolute;
  top: 140px;
  left: 8px;
  display: inline-block;
  width: 330px;
}
.reason-1,
.reason-2,
.reason-3 {
  position: absolute;
  top: 1891px;
  left: 906px;
  width: 345px;
  height: 242px;
  text-align: center;
}
.reason-1,
.reason-2 {
  left: 546px;
}
.reason-1 {
  left: 186px;
}
.sponsor-image-icon {
  position: absolute;
  top: 1409px;
  left: 242px;
  width: 447px;
  height: 399px;
  overflow: hidden;
  object-fit: cover;
}
.why-they-should-container,
.your-help-matters {
  position: absolute;
  top: 83px;
  left: 0;
  display: inline-block;
  width: 525px;
  height: 276px;
}
.your-help-matters {
  margin: 0;
  top: 0;
  font-size: var(--sub-heading-size);
  letter-spacing: -0.03em;
  font-weight: 700;
  font-family: var(--heading);
  width: 559px;
  height: 100px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.sponsor-text {
  position: absolute;
  top: 1409px;
  left: 726px;
  width: 559px;
  height: 359px;
  font-size: var(--body-size);
}
.water-glass-icon {
  position: absolute;
  top: 1918px;
  left: 685px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.sponsor-item {
  position: absolute;
  top: 1299.5px;
  left: 187.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1064px;
  height: 1px;
}
.sponsor4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body);
}
